{
  "1": {
    "email": "your_email_1@example.com",
    "password": "your_password_1"
  },
  "2": {
    "email": "your_email_2@example.com",
    "password": "your_password_2"
  },
  "3": {
    "email": "your_email_3@example.com",
    "password": "your_password_3"
  }
}
